
 <div class="row" style=" margin:6rem 0 0 0; ">
   <div class="col-lg-12">
   <div class="container">

    <%- flash.each do |name, msg| -%>

    <div class="alert alert-<%= name %>">
     <a href="#" data-dismiss="alert" class="close">×</a>
      <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    </div>
    <%- end -%>
 </div>
</div>
</div>


<div class="row pagetop">
  <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">

    <h1 class="text-center">Create a new profile</h1>
    <hr class="small" style=" margin-bottom: 0px; border-color: coral">
    <hr class="primary" style=" margin-top: 0px;">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: false, placeholder: 'email@email.com', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit "Sign up", class: "btn btn-primary btn-block btn-lg" %>
      </div>
    <% end %>
    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
