

  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h2>Steal of the Day</h2>
          </div>
              <% @flight.each do |p| %>


                      <div  class="col-lg-3 col-md-4 col-sm-6 col-xs-12 thumb">

                                <img class="img-responsive " src=<%=p.imgl%> />

                               <div class ="captiondiv" >
                                  <div class ="leftcap" >
                                <p><b><%=p.start%></b> - <b><%=p.stop%></b> </p>
                                <p><%=p.date%> </p>
                                </div>
                                <div class ="rightcap">

                             <h3>$<%=p.price%> </h3>


                              </div>
                              </div>

                        </div>
            


          <%end%>
      </div>
  </div>
