<!DOCTYPE html>
<html>
  <head>
    <title>Fly Super Cheap</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>


    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
           <div class="container">
               <!-- Brand and toggle get grouped for better mobile display -->
               <div class="navbar-header">
                   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                       <span class="sr-only">Toggle navigation</span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                   </button>



                   <a class="navbar-brand" href="/">


  <span id="iconnav" style="background-image: url(<%=  Dir.glob('/home/flysuper/fly/public/assets/icon00*')[0].split("/public")[1]  %>)"></span>
 

                     <span style="color: #00afef; font-weight: bold;">Fly</span>
                     <span style="color:#f48024; font-weight: bold">Super</span>
                      <span style="color:#5fba7d; font-weight: bold">Cheap</span>
                     </a>


               </div>
               <!-- Collect the nav links, forms, and other content for toggling -->
               <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                   <ul class="nav navbar-nav navbar-right">

                      <li class="backgnavl">
                     <%= link_to 'About', about_path    %>
                      </li>

                      <li class="backgnavl" >
                     <%= link_to 'Services', services_path    %>
                      </li>


                     <% if user_signed_in? %>



                     <li class="backgnavl">

                            <%= link_to 'Profile',  uprofile_path(:id => current_user.id ) %>
                     </li>

                     <li class="backgnavl">
                         <%= link_to 'Log out', destroy_user_session_path, method: :delete    %>
                     </li>


                    <% else %>
                    <li class="backgnavl">
                           <%= link_to 'Sign up', new_user_registration_path    %>
                    </li>
                    <li class="backgnavl">
                               <%= link_to 'Log in', new_user_session_path    %>
                    </li>

                    <% end %>





                       <li>
                           <button type="button" id="backgnav" data="" class="btn btn-default navbar-btn">
                           <span class="glyphicon glyphicon-search"></span>Finder
                           </button>
                       </li>


                   </ul>
               </div>
               <!-- /.navbar-collapse -->
           </div>
           <!-- /.container -->
       </nav>






    <%= yield %>




  </body>
</html>
